<form [formGroup]="loginForm">
  <p>
    <mat-form-field>
      <mat-label for="email">Email</mat-label>
      <input matInput name="email" formControlName="email">
    </mat-form-field>
    <span *ngIf="loginForm.get('email')?.touched">
      <span *ngIf="loginForm.get('email')?.errors?.required">
        Email requis
      </span>
      <span *ngIf="loginForm.get('email')?.errors?.minlength">
        Longueur minimale de 3
      </span>
    </span>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="password">Password</mat-label>
      <input matInput name="password" formControlName="password">
    </mat-form-field>
  </p>
  <p>
    <button mat-button (click)="logIn()"
            color="primary"
            [disabled]="!loginForm.valid">Log me in</button>
  </p>
</form>
